body {
	margin: 0;
	background: #333;
	font-family: "Poppins", Helvetica, "Roboto", Arial;
	color: #ddd;
}

.frontpage {
	display: flex;
	height: 85vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}

.name {
	font-size: 3rem;
	margin-bottom: 0;
}

small {
	opacity: 0.7;
}

.profiilikuva {
	object-fit: cover;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

header {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
}

nav ul {
	display: flex;
	gap: 1.5rem;
}

nav li {
	list-style-type: none;
}

li a {
	text-decoration: none;
}

a:is(:visited, :link) {
	color: inherit;
}

nav .current {
	font-weight: bold;
}

@media only screen and (max-width: 600px) {
	header {
		flex-direction: column;
		gap: 0.5rem;
	}
	nav {
		width: fit-content;
		padding-right: 1rem;
	}
}
